<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/users.css'/>    
    <title>Registro Usuario</title>
</head>
<body>      
    <h1>Company Name</h1>

    <form action="/registro-usuario-salvar" method="post">
        <p>Your Name</p>
        <input type="text" name="name">
        <p>Your Email</p>
        <input type="text" name="email">
        <p>User Name</p>        
        <input type="text" name="user">
        <p>Password</p>
        <input type="password" name="password">
        <p>Confirme Password</p>
        <input type="password" name="confirmPass">
        <p><button type="submit">Register</button>
    </form>
    
    
</body>
</html>